@import './custom-bootstrap.scss';
@import './utils.scss';

#bg {
    position: fixed;
    @include pos-n-dims(0, 0, 100vw, 100vh);
    z-index: -1;
    background: linear-gradient(-15deg, #936 15%, #639 90%) no-repeat;
    user-select: none;
}
